{% extends "master.html.twig" %}

{% block content %}

<p>Thank you for your interested.Your child has already in our waiting list. <a href="/addchild_info">Click to apply a place</a>. </p>

{% endblock %}