* {
    box-sizing: border-box;
  }

body {
    /* background-color: lightgray; */
    margin: 0 auto;
    padding: 0;
    width: 1300px;
}

#centeredContent {
    margin: 0 auto;
    padding: 2rem;
    height: auto;
    width: 100%; 
    /* background-color: white; */
}

.errorlist li{
  list-style-type: none;
    background: url("/images/daycare.png") no-repeat 0.5rem 0.5rem;
    background-size: 1rem 1rem;
    text-indent: 2em;
}

.headerColor{
  position: sticky;
}

body .headerColor {
    background-color: #007cc3;
}
.headerLogo{
    height: 5rem;
}
.headerText {
    color: white;
    text-align: center;
    padding: 0.8rem;
}
body .headerColor a:link{
    text-decoration: none;
}
.navDropdown{
    background-color: white;
}

.rightImage{
    text-align: right;
    float:right;
}

.leftImage{
    margin: 10px;
    text-align: left;
    float: left;
}

#adminBoard {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px 100px;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  #userlist{
    background-color: white; 
    color: #6f17ad; 
    border: 2px solid #d9b8f1;
    box-shadow: 2px 2px 5px #d9b8f1;
    border-radius: 8px;
  }
  
  #userlist:hover {
    background-color: #d9b8f1;
    color: white;
  }
  
  #childrenlist{
    background-color: white; 
    color: #29a199; 
    border: 2px solid #b8f1ed;
    box-shadow: 2px 2px 5px #b8f1ed;
    border-radius: 8px;
  }
  
  #childrenlist:hover {
    background-color: #b8f1ed;
    color: white;
  }
  
  #attendance{
    background-color: white; 
    color: #ac29ac; 
    border: 2px solid #f1b8f1;
    box-shadow: 2px 2px 5px #f1b8f1;
    border-radius: 8px;
  }
  
  #attendance:hover {
    background-color: #f1b8f1;
    color: white;
  }
  
  #waitinglist{
    background-color: white; 
    color: #2bac58; 
    border: 2px solid #b8f1cc;
    box-shadow: 2px 2px 5px #b8f1cc;
    border-radius: 8px;
  }
  
  #waitinglist:hover {
    background-color: #b8f1cc;
    color: white;
  }

  #groupchart{
    background-color: white; 
    color: #f1707d; 
    border: 2px solid #f1707d;
    box-shadow: 2px 2px 5px #f1707d;
    border-radius: 8px;
  }
  
  #groupchart:hover {
    background-color: #f1707d;
    color: white;
  }
  
  #home {
    background-color: white; 
    color: #2bac58; 
    border: 2px solid #b8f1cc;
    box-shadow: 2px 2px 5px #b8f1cc;
    padding: 8px 2px;
    border-radius: 48px;
    margin: 48px 2px;
  }
  
  #listTable{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  
  th {
    height: 70px; 
    font-family: 'Mochiy Pop P One', sans-serif;
  }
  
  td{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddff95;
  }
  
  .admintable{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }

  .infoform {
    width: 800px;
    margin: auto;
    box-shadow: 1px 1px 5px 1px lightsteelblue;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
  }

  input{
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    padding-top: 10px;
    padding-left: 50px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    padding-top: 10px;
    padding-left: 5px;
  }

  .infoform input[type=submit]{
    background-color: #4CAF50;
    margin: 20px;
  color: white;
  padding: 12px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  position: relative;
  left: 300px;
  } 

  .pageNavigation{
    margin-top: 20px;
  }

  .pageNavigation > #index{
    border: 2px solid #2bac58;
    border-radius: 20px;
    padding : 5px 10px 5px 10px;
  }

  #index:hover{
    border: 2px solid #f1707d;
    border-radius: 20px;
    padding : 5px 10px 5px 10px;
  }

#chart{
  width: 500px;
  position: relative;
  left: 300px;
}

#viewEditPane{
  font-family: "Noto Sans", sans-serif;
}.div1{
  float: left;
 margin-left: 10px;
 border-radius: 20px;

}
.gmap_canvas{
  float: right;
  margin-top: -300px;
  margin-right: 100px;
  
}
/* parent board */
.parentBoard {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 50px 100px;
}
.parentBoard a:link{
  text-decoration: none;
}
.parentBtn1{
  background-color: white; 
  color: #007cc3; 
  border: 2px solid #007cc3;
  box-shadow: 2px 2px 5px #007cc3;
  border-radius: 8px;
}

.parentBtn1:hover {
  background-color: #007cc3;
  color: white;
}

.tableInfoColor{
  background-color: #8ebcd6;
}
.addChildInfoPage{
  min-height: 500px;
}
.viewWaitingListPage{
  min-height: 500px;
}
/* parent board end*/

/***************  educator css *****************/
@import url("https://fonts.googleapis.com/css2?family=Frijole&family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frijole&family=Lemon&family=Special+Elite&display=swap");
#centeredContent1 {
  margin: 0 auto;
  padding: 2rem;
  height: 100%;
  width: 100%; 
 background-image: url("images/Pic.PNG");
}

#educatorBoard {
  display: grid;
  grid-gap: 50px 100px; 
}

.edu{
  text-align: center;
  color: blueviolet;
 margin-top: 10px;
 font-family: "Lemon", cursive;
  font-size: 40px;
}

.button1 {
  width: 600px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 32px ;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 30px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Lemon", cursive;
}

#childrenlist1{
  background-color: white; 
  color: #29a199; 
  border: 2px solid #b8f1ed;
  box-shadow: 2px 2px 5px #b8f1ed;
  border-radius: 8px;
  margin-top: 40px;
  margin-left: 50px;
  font-family: "Lemon", cursive;
  font-size: 30px;
}

#childrenlist1:hover {
  background-color: #b8f1ed;
  color: white;
}

#attendance1{
  background-color: white; 
  color: #ac29ac; 
  border: 2px solid #f1b8f1;
  box-shadow: 2px 2px 5px #f1b8f1;
  border-radius: 8px;
  margin-left: 570px;
  font-family: "Lemon", cursive;
  font-size: 30px;
}

#attendance1:hover {
  background-color: #f1b8f1;
  color: white;
}

#waitinglist1{
  background-color: white; 
  color: #2bac58; 
  border: 2px solid #b8f1cc;
  box-shadow: 2px 2px 5px #b8f1cc;
  border-radius: 8px;
  margin-left: 50px;
  margin-bottom: 50px;
  font-family: "Lemon", cursive;
  font-size: 30px;
}

#waitinglist1:hover {
  background-color: #b8f1cc;
  color: white;
}

#home1 {
  background-color: white; 
  color: #2bac58; 
  border: 2px solid #b8f1cc;
  box-shadow: 2px 2px 5px #b8f1cc;
  padding: 8px 2px;
  border-radius: 48px;
  margin: 48px 1000px;
}

.button2 {
  width: 200px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 32px ;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 22px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  font-family: "Lemon", cursive;
  cursor: pointer;
}

.submitList{
  border: none;
  background-color: lightgreen;
  border-radius: 5px;
  font-size:14px;
  padding-right:5px ;
}

.submitNote{
  margin-left: 200px;
  border: none;
  background-color: lightgreen;
  border-radius: 5px;
  font-size:20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100px;
  margin-bottom: 20px;
  font-family: "Lemon", cursive; 
}

.admintable1{
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Lemon", cursive;
}

.form{
  padding-left:50px ;
  padding-right:50px;
  width: 600px;
  margin: 20px  auto;
  border-radius: 10px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', ;
  background-color: rgb(187, 240, 223);
  box-shadow: 0 25px 45px rgba(218, 228, 222, 0.1);
  border: 2px solid rgb(238, 245, 235);
  border-right: 1px solid rgba(132, 184, 167, 0.2);
  border-radius: 10px;
  font-family: "Lemon", cursive; 
}

.note{
  margin: 10px;
  color: #007cc3;
  border-radius: 5px;
  border: #b8f1ed;
}

.th{
  width: 80px;
  padding: 10px;
  
}

.th1{
  width: 100px;
}

.herf4{
  margin-left: 1120px;
  
}

.herf3{
  float: right;
}

.pic{
  margin-left: 200px;
  margin-top: -20px;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  margin-top: -30px;
  margin-left: 20px;
}

.erro{
  margin: 30px auto;
  background-color: lightgoldenrodyellow;
  color: red;
 font-weight: 600;
  width: 400px;
}


