{% extends "educator/master.html.twig" %}

{% block content %}

<p>Notes submit successfully. <a href="/educator/noteHistory?id={{childId}}">Click to continue</a>. </p>

<div class = "pic"><img src="/images/kids.png" width="800" height="250" /></div>

{% endblock content %}
