{% extends "admin/master.html.twig" %}

{% block title %}Children Attendance{% endblock %}

{% block content %}

<h3>Children Attendance</h3>

<form class="infoform" method="post" >
    <div class="col-25">
    Group Name:
    </div>
    <div class="col-75">
     <select name="group">
            <option value="1">Babies</option>
            <option value="2">Toddlers</option>
            <option value="3">Big kids</option>
            <option value="4">Preschoolers</option>
            </select><br/>
    </div>
    <div class="col-25">
    Date: 
    </div>
    <div class="col-75">
    <input type="date" name="date"><br/>
    </div>
    <input type="submit" value="Submit">
</form>

<p> <a href="/admin/"><img src="/images/back.jpg" width="40px"/></a> </p>

{% endblock %}