{% extends "admin/master.html.twig" %}

{% block title %}Access denied{% endblock %} 

{% block content %}

<p>Access denied<img src="/images/stop.png" width=30px /></p>   
<p>Access denied. You must be logged in as adminstrator to access this page.</p> 
<a href="/">Click to continue</a>. </p>

{% endblock content %}