{% extends "parent/master.html.twig" %}

{% block content %}

<p>Thank you for your interested.Your child has already in our waiting list. <a href="/parent/parent_board">Go back</a></p>

{% endblock %}