{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}

{% block content %}

{% if errorList %}
    <ul class="errorlist">
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form class="infoform" method="post">
    <div class="col-25">
    Email
    </div>
    <div class="col-75">
     <input type="email" name="email" value="{{v.email}}"><br/>
    </div>
    <div class="col-25">
    Password
    </div>
    <div class="col-75">
     <input type="password" name="pass1" ><br/>
    </div>
    <div class="col-25">
    Confirm Password 
    </div>
    <div class="col-75">
    <input type="password" name="pass2" ><br/>
    </div>
    <input type="submit" value="Create Account">
</form>
<p><a href="/"><img src="/images/back.jpg" width="40px"/></a></p>

{% endblock content %}