{% extends "master.html.twig" %}

{% block title %}Home{% endblock %}
{% block addHead %}

{% endblock %}

{% block content %}

<div class="mainContent">
<h2>ABC Daycare and Preschool</h2>
<p>
Welcome to ABC Daycare & preschool! Thank you for your interest in our childcare / pre-school program
At our center we care for children from 12 months - 5 years of age. Our teachers are fully certified by 
the state of Florida and the Department of Children and Families. We implement the Creative Curriculum, 
which enhances social/emotional, physical, cognitive, and language development. We believe that play is the work of childhood.
<img src="images/children1.jpg" alt="children" title="children" width="400px" class="rightImage"/>
</p>
<p><img src="images/children5.png" alt="children" title="children" width="400px" class="leftImage"/>Through play, hands on activities, and direct guidance,
 our students discover the world around them and begin to prepare 
for a life-long journey of learning and academic success. Our center is a loving environment that is warm, secure and challenging;
 a place in which to grow socially, physically and creatively. Our spacious center also has an air conditioned, indoor playground.
  Our students are able to play in the playground every single day, regardless of the weather. This ensures that our students participate
   in gross motor, free play activities everyday. We are looking forward to the opportunity to be part of your child’s life and will work
    closely to maximize your child’s preschool experience. Call us today to schedule a tour through our center (305) 887-7000.</p>
</div>
<div class="mapouter">
<span class ="div1">
 <img id = "daycare1" src= "images/daycare1.png " alt="food" width="500" height="300" > 
</span>
<div class="gmap_canvas"><iframe width="500" height="300" id="gmap_canvas" 
src="https://maps.google.com/maps?q=%204176-4178,%204180%20Grand%20Blvd.,%20Montr%C3%A9al,%20QC%20H4B%202X4&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" 
scrolling="no" marginheight="0" marginwidth="0"></iframe><a href=" "></a><br><style>.mapouter{position:relative;text-align:right;height:300px;width:1300px;}</style>
<a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:1300px;}</style></div></div>

<div><img src="images/line.gif" width="600px"><img src="images/line.gif" width="600px"></div>

<script>
var daycare1 = document.getElementById("daycare1");
    var imgArr =["images/daycare1.png","images/daycare2.png","images/daycare3.png","images/daycare4.png"];
    var index =0;
    setInterval(function(){
     index++;
     index= index % imgArr.length;
    daycare1.src = imgArr[index];
    },1500);
    


</script>{% endblock content %}